:root {
	--backgroundColor: #070707;
}

body {
	background-color: var(--backgroundColor);
	color: white;
	font-family: 'Montserrat Regular';
	margin: 0;
	// overflow-x: hidden;
}

// Mobile full screen
.container {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

#canvasContainer {
	width: 100vw;

	// Mobile full screen
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.buttonContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	// display: none;
	.button {
		width: 120px;
		height: 120px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--backgroundColor);
		border: solid 2px white;
		border-radius: 50%;
		box-shadow: 0px 0px 30px 3px var(--backgroundColor);
		cursor: pointer;
		// pointer-events: none;
		will-change: width, height;
		opacity: 0;
	}
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -90%);
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 2px;
		text-align: center;
		pointer-events: none;
		user-select: none;
		transition: transform 150ms ease-in-out;
		opacity: 0;
	}
}

.shopOverlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	visibility: hidden;
	overflow-x: hidden;
	.title {
		width: 100vw;
		height: 27vh;
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			font-size: 5.5em;
			font-family: 'Brooke Smith Script';
			font-weight: inherit;
			margin: 0;
			transform: translateY(-10%);
		}
	}
	.book {
		width: 100vw;
		height: 73vh;
		display: flex;
		justify-content: center;
		.slider {
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: start;
			box-sizing: content-box;
			margin-right: 5%;
			.imageContainer {
				height: 80%;
				width: 100%;
				display: flex;
				align-items: center;
				cursor: pointer;
				overflow: hidden;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			.sliderIndexesContainer {
				width: 25%;
				display: flex;
				justify-content: space-around;
				margin: 30px;
				.index {
					width: 7px;
					height: 7px;
					border-radius: 50%;
					border: solid white 1px;
				}
			}
		}
		.infos {
			width: 55%;
			height: 100%;
			.description {
				h2 {
					font-family: 'DM Serif Display Regular';
					font-weight: inherit;
					letter-spacing: 0.15em;
					font-size: 1.7em;
					margin: 0;
				}
				p {
					margin: 2vh 0;
					font-size: 0.9em;
					line-height: 1.5em;
					opacity: 0.8;
				}
				.subtext {
					color: #8e8e8e;
				}
			}
			.prices {
				height: 15%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-top: 5vh;
				font-family: 'DM Serif Display Regular';
				font-size: 1.5em;
				letter-spacing: 0.15em;
				> div {
					position: relative;
					display: flex;
					justify-content: space-between;
					width: 100%;
					.numberSelector {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						display: flex;
						user-select: none;
						span {
							padding: 5px;
							cursor: pointer;
						}
						.number {
							position: relative;
							width: 30px;
							pointer-events: none;
							span {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}
			.buyButtonContainer {
				height: 20%;
				display: flex;
				justify-content: center;
				align-items: center;
				.button {
					padding: 10px 25px;
					border: solid white 1px;
					cursor: pointer;
				}
			}
		}
	}
}

.successOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background: var(--backgroundColor);
	p {
		font-family: 'Brooke Smith Script';
		font-size: 150px;
	}
}

@font-face {
	font-family: 'Brooke Smith Script';
	src: url('../assets/fonts/brooke_smith_script/brooke_smith_script.ttf');
}
@font-face {
	font-family: 'DM Serif Display Regular';
	src: url('../assets/fonts/dm_serif_display/dm_serif_display_regular.ttf');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('../assets/fonts/montserrat/montserrat_regular.ttf');
}

// @media only screen and (max-height: 700px) {
// 	.shopOverlay {
// 		.book {
// 			.infos {
// 				.description {
// 					p {
// 						font-size: 0.7em;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
