:root {
	--backgroundColor: #070707;
}

body {
	background-color: var(--backgroundColor);
	color: white;
	font-family: 'Montserrat Regular';
	margin: 0;
}

// Mobile full screen
.container {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100%;
	display: block;
}

#canvasContainer {
	width: 100vw;

	// Mobile full screen
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.buttonContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	display: none;
	.button {
		width: 120px;
		height: 120px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--backgroundColor);
		border: solid 2px white;
		border-radius: 50%;
		box-shadow: 0px 0px 30px 3px var(--backgroundColor);
		cursor: pointer;
		will-change: width, height;
		opacity: 0;
	}
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 2px;
		text-align: center;
		pointer-events: none;
		user-select: none;
		transition: transform 150ms ease-in-out;
		opacity: 0;
	}
}

.shopOverlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	visibility: hidden;
	overflow-x: hidden;
	.title {
		width: 100vw;
		height: 30vh;
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			font-size: 5.5em;
			font-family: 'Brooke Smith Script';
			font-weight: inherit;
			margin: 0;
			transform: translateY(-10%);
		}
	}
	.book {
		width: 100vw;
		height: 70vh;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		#video {
			width: 55%;
			&:focus {
				outline: none;
			}
		}
		.slider {
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: start;
			box-sizing: content-box;
			margin-right: 5%;
			display: none;
			.imageContainer {
				height: 80%;
				width: 100%;
				display: flex;
				align-items: center;
				cursor: pointer;
				overflow: hidden;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			.sliderIndexesContainer {
				width: 25%;
				display: flex;
				justify-content: space-around;
				margin: 30px;
				.index {
					width: 7px;
					height: 7px;
					border-radius: 50%;
					border: solid white 1px;
				}
			}
		}
		.infos {
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			.description {
				h2 {
					font-family: 'DM Serif Display Regular';
					font-weight: inherit;
					letter-spacing: 0.15em;
					font-size: 1.7em;
					margin: 0;
					padding-top: 8vh;
				}
				p {
					margin: 2vh 0;
					font-size: 0.9em;
					line-height: 1.5em;
					opacity: 0.8;
				}
				.secondP {
					display: none;
				}
				.subtext {
					color: #8e8e8e;
					display: none;
				}
			}
			.prices {
				height: 15%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-top: 5vh;
				font-family: 'DM Serif Display Regular';
				font-size: 1.5em;
				letter-spacing: 0.15em;
				.collector {
					display: none;
				}
				> div {
					position: relative;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
					.numberSelector {
						position: absolute;
						top: 50%;
						right: 0;
						transform: translate(0, -50%);
						display: flex;
						user-select: none;
						span {
							padding: 5px;
							cursor: pointer;
						}
						.number {
							position: relative;
							width: 30px;
							pointer-events: none;
							span {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
				.price {
					position: absolute;
					top: 0;
					left: 50%;
				}
			}
			.buyButtonContainer {
				height: 10%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.shippingChoice {
					display: none;
					justify-content: space-between;
					align-items: center;
					width: 40%;
					.text {
						display: flex;
						flex-direction: column;
						span {
							font-family: 'Montserrat Regular';
							letter-spacing: normal;
						}
						span:first-child {
							font-size: 0.9em;
							margin-bottom: 3px;
						}
						span:last-child {
							font-size: 0.7em;
							color: #8e8e8e;
						}
					}
				}
				.button {
					padding: 10px 25px;
					border: solid white 1px;
					cursor: pointer;
				}
			}
		}
	}
}

#shippingCheckbox {
	transform: translateX(-30px);
}

.successOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--backgroundColor);
	span {
		font-family: 'Brooke Smith Script';
		font-size: 10em;
	}
}

@font-face {
	font-family: 'Brooke Smith Script';
	src: url('../assets/fonts/brooke_smith_script/brooke_smith_script.ttf');
}
@font-face {
	font-family: 'DM Serif Display Regular';
	src: url('../assets/fonts/dm_serif_display/dm_serif_display_regular.ttf');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('../assets/fonts/montserrat/montserrat_regular.ttf');
}

@media only screen and (max-width: 900px) {
	.shopOverlay {
		height: auto;
		position: relative;
		.title {
			h1 {
				font-size: 15vw;
			}
		}
		.book {
			align-items: center;
			flex-direction: column;
			.infos {
				padding-right: 2vw;
				.prices {
					margin-top: 2vh;
					height: 7%;
					.price {
						left: 45%;
					}
				}
			}
			.slider {
				width: auto;
				height: auto;
				margin: 320px 0 80px 0;
				pointer-events: none;
				.imageContainer {
					width: 50vw;
					height: auto;
					img:nth-child(n + 2) {
						display: none;
					}
				}
				.sliderIndexesContainer {
					display: none;
				}
			}
			.infos {
				width: 80%;
				.buyButtonContainer {
					justify-content: flex-start;
					margin: 25px 0 5vh 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.shopOverlay {
		.book {
			.infos {
				.prices > div {
					& > span,
					.price {
						font-size: 0.7em;
					}
				}
				.buyButtonContainer {
					height: 25%;
					flex-direction: column;
					.shippingChoice {
						width: 100%;
					}
				}
			}
		}
	}
}
